div{
    width: 33.33%;
    height: 20%;
    float: left;
    border: 1px solid red;
    margin: 10px;
    padding: 15px;
}
.header{
    background-color: red;
    width: 33%;
    height: 20%;
    float: left;
    border: 1px solid red;
    margin: 10px;
}
div .image{
    float: left;
}
div .ID{
    float: left;
}